@vv-descoberta-cms:registry=http://nexus.viavarejo.com.br/repository/npm-private/
@vv-seo:registry=http://nexus.viavarejo.com.br/repository/vv-seo/
@vv-retira:registry=http://nexus.viavarejo.com.br/repository/npm-private/
@vv-descoberta-ads:registry=http://nexus.viavarejo.com.br/repository/npm-private/